<!--Модальные окна-->
<!--Регистрация-->
<div class="modal fade" id="signup__modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Регистрация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <input class="form__login" type="text" placeholder="Логин">
                    <input class="form__password" type="tel" placeholder="Пароль">
                    <div class="button button_wide button_blue __signup">Зарегистироваться</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Вход-->
<div class="modal fade" id="login__modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вход</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form">
                    <input class="form__login" type="text" placeholder="Логин">
                    <input class="form__password" type="tel" placeholder="Пароль">
                    <div class="button button_wide button_blue __login">Войти</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Политика конфиденциальности-->
<div class="modal fade" id="confidential__modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Политика конфиденциальности</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body_text">
                    С другой стороны новая модель организационной деятельности обеспечивает широкому кругу специалистов участие в формировании соответствующих условий активизации! С другой стороны постоянный количественный рост и сфера нашей активности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же сложившаяся структура организации позволяет выполнить важнейшие задания по разработке дальнейших направлений развития проекта.

                    Таким образом, выбранный нами инновационный путь в значительной степени обуславливает создание существующих финансовых и административных условий? Соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовке и реализации направлений прогрессивного развития. С другой стороны начало повседневной работы по формированию позиции позволяет оценить значение всесторонне сбалансированных нововведений. Значимость этих проблем настолько очевидна, что реализация намеченного плана развития создаёт предпосылки качественно новых шагов для соответствующих условий активизации!

                    Практический опыт показывает, что дальнейшее развитие различных форм деятельности играет важную роль в формировании направлений прогрессивного развития?

                    Повседневная практика показывает, что курс на социально-ориентированный национальный проект напрямую зависит от позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако, забывать о том, что консультация с профессионалами из IT позволяет выполнить важнейшие задания по разработке позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт начало повседневной работы по формированию позиции играет важную роль...
                </div>
            </div>
        </div>
    </div>
</div>